---
import Base from "../layouts/Base.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Experience from "../components/Experience.astro";
import Speaking from "../components/Speaking.astro";
import Education from "../components/Education.astro";
import Footer from "../components/Footer.astro";
---

<Base>
  <div class="wrap">
    <Nav />
    <Hero />
    <main>
      <About />
      <Experience />
      <Speaking />
      <Education />
    </main>
    <Footer />
  </div>
</Base>
